* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Cabin", Arial, sans-serif;
  font-size: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
[class^='col-'] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {max-width: 8.33333333%;}
.col-2 {max-width: 16.66666667%;}
.col-3 {max-width: 25%;}
.col-4 {max-width: 33.33333333%;}
.col-5 {max-width: 41.66666667%;}
.col-6 {max-width: 50%;}
.col-7 {max-width: 58.33333333%;}
.col-8 {max-width: 66.66666667%;}
.col-9 {max-width: 75%;}
.col-10 {max-width: 83.33333333%;}
.col-11 {max-width: 91.66666667%;}
.col-12 {max-width: 100%;}
@media (min-width: 880px) {
  .col-md-1 {max-width: 8.33333333%;}
  .col-md-2 {max-width: 16.66666667%;}
  .col-md-3 {max-width: 25%;}
  .col-md-4 {max-width: 33.33333333%;}
  .col-md-5 {max-width: 41.66666667%;}
  .col-md-6 {max-width: 50%;}
  .col-md-7 {max-width: 58.33333333%;}
  .col-md-8 {max-width: 66.66666667%;}
  .col-md-9 {max-width: 75%;}
  .col-md-10 {max-width: 83.33333333%;}
  .col-md-11 {max-width: 91.66666667%;}
  .col-md-12 {max-width: 100%;}
}

  /*MAIN*/
  .slider_main {
    display: flex;
  }
  .slider_main .items {
    
  }
  .slider_main .items a span {
    
  }

.slider_partners {
  display: flex;
}
.slider_partners items {
  width: 350px;
  height: 250px;
  margin: 50px;
}
.slider_partners items img{
  width: 350px;
  height: 250px;
}

#banner a {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
#banner a img {
  display: block;
  width: 100%;
}
#banner a span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  color: #231F20;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
}
img {
  max-width: 100%;
}
@media (min-width: 880px) {
  #banner a span {
    font-size: 2.5em;
  }
}

  /*FOTTER*/

  /* DISCOUNTS */
#discount {
  background-color: #F5F5F5;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}
#discount > * {
  padding: 20px;
}
#discount #row_discount {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
#discount #row_newsletter {
  color: black;
  font-size: 2em;
  text-decoration: none;
}
#discount .button {
  appearance: button;
  text-transform: uppercase;
  background-color: #231F20;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  font-weight:1000;
  letter-spacing: 0.1em;
}

  /* MENU */
#menu_fotter #menu {
  list-style: none;
}
.navigaction {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  background-color:#231F20;
  text-align: center;
  padding-top: 2em;
}
.navigaction > .col-12.col-md-3 { /*jak zmodyfikować tylko class="col-12 col-md-3"*/
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  padding: 10px;
}
.navigaction li a {
  color: white;
  font-size: 0.5em;
  text-decoration: none;
}
.navigaction .submenu {
  list-style: none;
}
.navigaction #menu #submenu a {
  text-decoration: none;
}
#menu_fotter #menu .submenu {
  display: none;
}
#menu_fotter #menu .open {
/*display: block !important;*/
}
@media (min-width: 880px) { /*Zrobić żeby na desktopie było domyślnie rozwinięte menu*/
  #menu_fotter #menu .submenu {
    display: block;
  }
}